.cuerpo {
    font-family: Arial, sans-serif;
    background-image:url("Imagenes/foto_fondo2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
}
.headerpadre{

    background-image: url('Imagenes/foto_header.jpg');
    background-size: cover;
    background-position: center;
    height: 152px;
}
#botonesheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px;
    color: white;
}
.logo_boton_inicio
{
    border-radius: 50%;
    text-align: left;
}
.logo_boton_inicio button
{
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: transparent;
}
.logo_boton_inicio:hover
{
    cursor: cell;
}
.titulosprincipales
{
    text-align: center;
    color: white;
    font-size: 50px;
}

#botonesdeusuario {
    display: flex;
    gap: 20px;

}
#botonesdeusuario button
{
    font-family: Bahnschrift;
    background-color: transparent;
    border: none;
    color: white;
    cursor: cell ;
    border-radius: 50%;
    margin: 20px 20px;
    padding:10px 10px;
    transition: background-color 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
#botonesdeusuario button:hover
{

    background-color: rgba(0, 0, 0, 0.55);
}

#botonesalquiler-select {

    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    border: 50px solid transparent;
    border-radius: 5px;
    display:flex;
    margin: 10px;
    font-size: 30px;

}

#alquiler{
    color: white;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
    font-size: 50px;
    border-radius: 50%;
    cursor: cell;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: transparent;
}
#alquiler button
{

    border-radius: 50%;
    text-align: center;

}
#alquiler button:hover
{
    background-color: rgba(0, 0, 0, 0.55);
}
#tituloreserva
{
    text-align: center;
    color: white;
}
#ciudad
{
    text-align: left;
    font-size: 40px;
    background-color: lightgreen;
}
#deporte
{
    text-align: center;
    font-size: 40px;
    background-color: lightgreen;
}
#dia
{
    text-align: center;
    font-size: 40px;
    background-color: lightgreen;
}
#hora
{
    text-align: right;
    font-size: 40px;
    background-color: lightgreen;
}
/*#tituloalquiler*/
/*{*/
/*    text-align: center;*/
/*    font-size: 40px;*/
/*    background-color: lightgreen;*/
/*}*/
/*header button:hover a {*/
/*    border-color: #007bff;*/
/*    color: #007bff;*/
/*}*/
#tituloreserva
{
    font-size: 70px;
}
/*#paginformacion{*/
/*    font-size: 50px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/
/*#infocanchas{*/
/*    font-size:25px;*/
/*    text-align: center;*/
/*    justify-content: left;*/
/*    color: white;*/
/*}*/
/*#registrodatos{*/
/*    text-align: center;*/
/*    font-size: 25px;*/
/*    color: white;*/
/*}*/
/*#selección{*/
/*    font-size: 30px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    margin-left: 100px;*/
/*    margin-right: 100px;*/

/*}*/
/*#confirmaciontexto{*/
/*    color: white;*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*}*/
/*#fintexto{*/
/*    color: white;*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*}*/
#imagenalquiler
{
    color: lightgreen;
}
/*.botonimagen*/
/*{*/
/*    border-radius: 10%;*/
/*}*/
/*#textoregistro{*/
/*    font-size: 30px;*/
/*    color: white;*/
/*    text-align: center;*/
/*}*/
.info_de_contacto {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: cell;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: background-color 0.5s;
}
.info_de_contacto button
{
    text-align: left;
}
.info_de_contacto:hover {
    background-color: lightblue;
}