body{
    font-family: "Poppins", sans-serif;
    background-image:url("Imagenes/foto_fondo2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
}

.headerpadre{
    font-family: "Poppins", sans-serif;
    background-image: url('Imagenes/foto_header.jpg');
    background-size: cover;
    background-position: center;
    height: 152px;
}
#botonesheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px;
    color: white;
}
.logo_boton_inicio
{
    border-radius: 50%;
}
.logo_boton_inicio button
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: transparent;
}
.logo_boton_inicio:hover
{
    cursor: pointer;
}
.titulosprincipales
{
    display: flex;
    text-align: center;
    color: white;
    font-size: 50px;
}

.botonesdeusuario
{
    display: block;
    gap: 20px;
    font-family: Bahnschrift;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer ;
    border-radius: 50%;
    margin: 20px 20px;
    padding:10px 10px;
    transition: background-color 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);

}
.botonesdeusuario:hover
{

    background-color: rgba(0, 0, 0, 0.55);
}

#botonesalquiler-select {

    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    border: 50px solid transparent;
    border-radius: 5px;
    display:flex;
    margin: 10px;
    font-size: 30px;

}

#alquiler{
    color: white;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: transparent;
}

#alquiler :hover
{

    background-color: green;
}
#tituloreserva
{
    text-align: center;
    color: white;
}
#ciudad
{
    text-align: left;
    font-size: 40px;
    background-color: lightgreen;
}
#deporte
{
    text-align: center;
    font-size: 40px;
    background-color: lightgreen;
}
#dia
{
    text-align: center;
    font-size: 40px;
    background-color: lightgreen;
}
#hora
{
    text-align: right;
    font-size: 40px;
    background-color: lightgreen;
}
#tituloreserva
{
    font-size: 70px;
}

#imagenalquiler
{
    color: lightgreen;
}

.info_de_contacto {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: cell;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: background-color 0.5s;
}
.info_de_contacto button
{

}
.info_de_contacto:hover {
    background-color: lightblue;
}
.formularios
{
    border-color: transparent;
}